.about-us{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 12px;
}

.card-tienda{
  grid-column: 1/3;
}

.img-tienda{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.tienda-contacto{
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contacto{
  display: flex;
  flex-direction: column;
}

.formulario{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

@media (max-width: 767.9px) {
  .contacto{
    justify-content: center;
    align-items: center;
  }
  .formulario{
    width: 100%;
  }
  
  .tienda-contacto {
    flex-direction: column;
  }
  .mapa {
    width: 100%;
  }
}
